
@model PaginatedList<AAWSA.Models.Complaint>
@{
    ViewBag.Title = "All Tasks";
}



<h1>Complaints</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-action="Index" method="get" class=" ml-auto">
    <div class="form-actions no-color">
        <p>
            Find by name: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>

            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]">Date</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]"> FirstName</a>
            </th>

            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">LastName</a>
            </th>

            <th>
                Branche
            </th>
            <th>
                Special Place Name
            </th>
            <th>
                status
            </th>
            <th>
                PhoneNumber
            </th>
            <th>
                CaseType
            </th>
            <th>
                Complaint Type
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            //  @if (modelitem => item.Branches  Branches.Akaki_Kaliti ){

            //  }
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Branches)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Special_Place_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.CaseType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Complaint_Type)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.id">Edit  </a>|
                    <a asp-action="Details" asp-route-id="@item.id">Details  </a>|
                    <a asp-action="Delete" asp-route-id="@item.id">Delete </a>
                </td>
            </tr>
        }
    </tbody>
</table>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a>
