
@using Microsoft.AspNetCore.Identity
@using AAWSA.Areas.Identity.Data

@inject UserManager<AAWSAUser> UserManager

   
@model  PaginatedList<AAWSAUser>

        @{
            ViewBag.Title = "All Users";
        }



        @if (Model.Any())

        {
<div class="panel panel-primary">
    <div class="panel-heading">
        <h1 class="bg-info text-white">All Users</h1>
        <a class="btn btn-secondary" id="login" asp-area="Identity" asp-page="/Account/Register"> Create User </a>

    </div>
    <!-- /.box-header -->

    <form asp-action="Index" method="get" class=" ml-auto">
        <div class="form-actions no-color">
            <p>
                Find by name: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
                <input type="submit" value="Search" class="btn btn-default" /> |
                <a asp-action="Index">Back to Full List</a>
            </p>
        </div>
    </form>


    <div class="panel-body">
        <table class="table table-hover table-bordered table-condensed" id="AllUsers">
            <thead>
                <tr>
                    <th>
                        <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]"> First Name</a>
                    </th>

                    <th>
                        <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]"> User Name</a>
                    </th>
                    <th>
                        <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]"> Email</a>
                    </th>
                    <th>
                        <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]"> Roles</a>
                    </th>

                    <th>
                        <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]"> Birth Date</a>
                    </th>
                    <th>
                        <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]"> Brancehs</a>
                    </th>




                </tr>
            </thead>
            @foreach (var user in Model)
            {
        <tr>
            <td>@user.FirstName</td>
            <td>@user.UserName</td>
            <td>@user.Email</td>
            <td>@user.Role</td>
            <td>@user.BirthDate</td>
            <td>@user.Branches</td>

            <td>
                <form asp-action="Delete" asp-route-id="@user.Id" method="post">
                    <button type="submit" onclick="return confirm('Delete user !!!')" class="btn btn-sm btn-danger">
                        Delete
                    </button>
                </form>
            </td>

            @* <td>
            <form asp-action="lockuser" asp-route-id="@user.Id" method="post">
                <button type="submit" onclick="return confirm('lock user !!!')" class="btn btn-sm btn-info">
                    lock
                </button>
            </form>
        </td>
        <td>
            <form asp-action="unlockuser" asp-route-id="@user.Id" method="post">
                <button type="submit" onclick="return confirm('unlock user !!!')" class="btn btn-sm btn-block">
                    unlock user
                </button>
            </form>
        </td>
            *@
        </tr>

            }
        </table>
        @{
            var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
            var nextDisabled = !Model.HasNextPage ? "disabled" : "";
        }

        <a asp-action="Index"
           asp-route-sortOrder="@ViewData["CurrentSort"]"
           asp-route-pageNumber="@(Model.PageIndex - 1)"
           asp-route-currentFilter="@ViewData["CurrentFilter"]"
           class="btn btn-default @prevDisabled">
            Previous
        </a>
        <a asp-action="Index"
           asp-route-sortOrder="@ViewData["CurrentSort"]"
           asp-route-pageNumber="@(Model.PageIndex + 1)"
           asp-route-currentFilter="@ViewData["CurrentFilter"]"
           class="btn btn-default @nextDisabled">
            Next
        </a>

    </div>

    @* <div class="panel-footer">
            <p class="box-title"><b>Total Users till @String.Format("{0 : dddd, MMMM d, yyyy}", DateTime.Now)  : </b><span class="label label-primary">@Model.Count()</span></p>
        </div>
    *@
</div>


            @section scripts {
                
            }

        }

        else
        {


            <div> No USers Created </div>
        }


