@model AAWSA.Models.Complaint

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Complaint</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.First_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.First_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Branches)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Branches)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Special_Place_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Special_Place_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.House_number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.House_number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone_number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone_number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Subcity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Subcity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Woreda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Woreda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ComplaintType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComplaintType)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
